.wrapper.Atari {
  font-family: 'Atari', sans-serif;
}

.Atari .header {
}

.Atari h1 {
  color: red;
}

.Atari table {
}

.Atari tr {
  margin-bottom: 14px;
}

.Atari th {
  color: yellow;
  font-size: 24px;
}

.Atari td {
  color: rgb(85, 85, 255);
  font-size: 18px;
}

.Atari td,
.Atari th {
}
