.wrapper.Galaxus {
  font-family: 'Galaxus', sans-serif;
}

.Galaxus .header {
}

.Galaxus h1 {
  color: red;
}

.Galaxus table {
}

.Galaxus tr {
  margin-bottom: 14px;
}

.Galaxus th {
  color: yellow;
  font-size: 24px;
}

.Galaxus td {
  color: rgb(85, 85, 255);
  font-size: 18px;
}

.Galaxus td,
.Galaxus th {
}
