.wrapper.Glitch1 {
  font-family: 'Atari', sans-serif;
}

.Glitch1 .header {
}

.Glitch1 h1 {
  color: red;
  font-size: 8vw;
}

.Glitch1 table {
}

.Glitch1 tr {
  margin-bottom: 14px;
}

.Glitch1 th {
  color: yellow;
  font-size: 34px;
}

.Glitch1 td {
  color: rgb(85, 85, 255);
  font-size: 24px;
}

.Glitch1 td,
.Glitch1 th {
}
