.wrapper.Glitch2 {
  font-family: 'PublicPixel', sans-serif;
}

.Glitch2 .header {
}

.Glitch2 h1 {
  color: red;
  font-size: 8vw;
}

.Glitch2 table {
}

.Glitch2 tr {
  margin-bottom: 14px;
}

.Glitch2 th {
  color: yellow;
  font-size: 34px;
}

.Glitch2 td {
  color: rgb(85, 85, 255);
  font-size: 24px;
}

.Glitch2 td,
.Glitch2 th {
}
