.wrapper.PublicPixel {
  font-family: 'PublicPixel', sans-serif;
}

.PublicPixel .header {
}

.PublicPixel h1 {
  color: red;
}

.PublicPixel table {
}

.PublicPixel tr {
  margin-bottom: 14px;
}

.PublicPixel th {
  color: yellow;
  font-size: 24px;
}

.PublicPixel td {
  color: rgb(85, 85, 255);
  font-size: 18px;
}

.PublicPixel td,
.PublicPixel th {
}
